Repository codeit-internship-group-b/codeit-resources, pull requests merged in 2024-10, with the labels that each got.

#8 [Setting] 컨벤션eslint prettier 및 husky 설정 추가
  .github/labels.json
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/package.json
  apps/web/app/favicon.ico
  apps/web/app/icon.ico
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/providers.tsx
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/svgr.d.ts
  apps/web/tsconfig.json
  package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  pnpm-lock.yaml
Labels: ⚙ Setting

#13 [Setting] SVGR 설정 및 폰트 설정
  .husky/prepare-commit-msg
  apps/web/app/fonts/GeistMonoVF.woff
  apps/web/app/fonts/GeistVF.woff
  apps/web/app/fonts/SpoqaHanSansNeo-Bold.woff
  apps/web/app/fonts/SpoqaHanSansNeo-Light.woff
  apps/web/app/fonts/SpoqaHanSansNeo-Medium.woff
  apps/web/app/fonts/SpoqaHanSansNeo-Regular.woff
  apps/web/app/fonts/SpoqaHanSansNeo-Thin.woff
  apps/web/app/layout.tsx
  apps/web/next.config.mjs
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/public/index.tsx
  packages/ui/public/svgs/ic_ chevron.svg
  packages/ui/public/svgs/ic_ triangle.svg
  packages/ui/public/svgs/ic_burger.svg
  packages/ui/public/svgs/ic_cancel.svg
  packages/ui/public/svgs/ic_check_bold.svg
  packages/ui/public/svgs/ic_doubleChevron.svg
  packages/ui/public/svgs/ic_equipment.svg
  packages/ui/public/svgs/ic_gear.svg
  packages/ui/public/svgs/ic_meatball.svg
  packages/ui/public/svgs/ic_meeting.svg
  packages/ui/public/svgs/ic_modal_alret.svg
  packages/ui/public/svgs/ic_person.svg
  packages/ui/public/svgs/ic_plus.svg
  packages/ui/public/svgs/ic_right.svg
  packages/ui/public/svgs/ic_seats.svg
  packages/ui/public/svgs/ic_sort.svg
  packages/ui/public/svgs/ic_textBalloon.svg
  packages/ui/src/button.tsx
  packages/ui/styles/globals.css
  packages/ui/svgr.d.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: ⚙ Setting, 👾 FE

#20 Fix: 아이콘 이름 변경
  packages/ui/public/svgs/ic_chevron.svg
  packages/ui/public/svgs/ic_triangle.svg
Labels: 🐞 BugFix, 👾 FE

#16 [Setting] tailwind css 기본 세팅
  apps/web/app/page.tsx
  apps/web/tailwind.config.ts
  package.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  pnpm-lock.yaml
Labels: ⚙ Setting, 👾 FE

#18 [Setting] Storybook 셋팅 추가
  .eslintignore
  .gitignore
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/favicon.ico
  apps/docs/app/fonts/GeistMonoVF.woff
  apps/docs/app/fonts/GeistVF.woff
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/app/page.module.css
  apps/docs/app/page.tsx
  apps/docs/next-env.d.ts
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/public/file-text.svg
  apps/docs/public/globe.svg
  apps/docs/public/next.svg
  apps/docs/public/vercel.svg
  apps/docs/public/window.svg
  apps/docs/tsconfig.json
  apps/storybook/.gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/README.md
  apps/storybook/eslint.config.cjs
  apps/storybook/index.html
  apps/storybook/package.json
  apps/storybook/postcss.config.cjs
  apps/storybook/public/vite.svg
  apps/storybook/src/App.css
  apps/storybook/src/App.tsx
  apps/storybook/src/assets/react.svg
  apps/storybook/src/index.css
  apps/storybook/src/main.tsx
  apps/storybook/src/vite-env.d.ts
  apps/storybook/tailwind.config.ts
  apps/storybook/tsconfig.app.json
  apps/storybook/tsconfig.json
  apps/storybook/tsconfig.node.json
  apps/storybook/turbo.json
  apps/storybook/vite.config.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/providers.tsx
  apps/web/package.json
  package.json
  packages/eslint-config/next.js
  packages/typescript-config/storybook.json
  packages/ui/package.json
  packages/ui/src/Button.stories.tsx
  packages/ui/src/button.tsx
  pnpm-lock.yaml
  turbo.json
Labels: ⚙ Setting

#24 [Setting] backend 개발 환경 셋팅
  .dockerigrore
  .gitignore
  .husky/commit-msg
  .husky/prepare-commit-msg
  apps/api/.eslintrc.js
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/data/.gitkeep
  apps/api/src/index.ts
  apps/api/src/middleware/.gitkeep
  apps/api/src/models/.gitkeep
  apps/api/src/routes/.gitkeep
  apps/api/tsconfig.json
  apps/docs/next-env.d.ts
  docker-compose.yml
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/server.js
  packages/typescript-config/base.json
  pnpm-lock.yaml
  turbo.json
Labels: ⚙ Setting, 👽 BE

#22 [Feat]GNB 제작
  apps/web/app/layout.tsx
  apps/web/components/GNB/GNBLogo.tsx
  apps/web/components/GNB/GNBMenu.tsx
  apps/web/components/GNB/index.tsx
  apps/web/components/common/Profile/index.tsx
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/svgr.d.ts
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  packages/eslint-config/next.js
  packages/tailwind-config/tailwind.config.ts
  packages/ui/public/index.tsx
  packages/ui/public/svgs/ic_equipment.svg
  packages/ui/public/svgs/ic_logo-codeit.svg
  packages/ui/public/svgs/ic_logo-text.svg
  packages/ui/public/svgs/ic_meeting.svg
  packages/ui/public/svgs/ic_person.svg
  packages/ui/public/svgs/ic_profile-empty.svg
  packages/ui/public/svgs/ic_seats.svg
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#30 [Feat] 공통컴포넌트 input 제작
  apps/web/app/page.tsx
  apps/web/components/GNB/GNBMenu.tsx
  packages/tailwind-config/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/components/common/Input/index.stories.tsx
  packages/ui/src/components/common/Input/index.tsx
  packages/ui/src/utils/cn.ts
  packages/ui/styles/globals.css
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#35 [Fix] 린트에러 해결
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/GlobalNavigationBar/GnbLogo.tsx
  apps/web/components/GlobalNavigationBar/GnbMenu.tsx
  apps/web/components/GlobalNavigationBar/index.tsx
  apps/web/components/common/Profile/index.tsx
  apps/web/next.config.mjs
  packages/ui/src/components/common/Input/index.tsx
Labels: 🐞 BugFix, 🖥 Web, 👾 FE

#36 [Feat] 공통컴포넌트 Toast 제작
  apps/web/tsconfig.json
  packages/ui/.eslintrc.js
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/public/svgs/ic_cancel.svg
  packages/ui/public/svgs/ic_check_bold.svg
  packages/ui/src/Button.stories.tsx
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/src/components/common/Input/index.stories.tsx
  packages/ui/src/components/common/Toast/index.tsx
  packages/ui/src/components/common/Toast/notify.tsx
  packages/ui/src/types/ToastOption.ts
  packages/ui/src/utils/cn.ts
  packages/ui/styles/Toast.tsx
Labels: ✨ Feature, 🖥 Web, 👾 FE

#38 [Feat] 공통컴포넌트 Button 제작
  apps/web/.eslintrc.js
  apps/web/app/page.tsx
  apps/web/components/GlobalNavigationBar/GnbLogo.tsx
  apps/web/components/GlobalNavigationBar/GnbMenu.tsx
  apps/web/components/GlobalNavigationBar/index.tsx
  apps/web/components/common/Profile/index.tsx
  apps/web/next.config.mjs
  package.json
  packages/prettier-config/index.js
  packages/tailwind-config/tailwind.config.ts
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/postcss.config.mjs
  packages/ui/src/components/common/Button/index.stories.tsx
  packages/ui/src/components/common/Button/index.tsx
  packages/ui/src/components/common/Input/index.tsx
  packages/ui/styles/globals.css
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#46 [Feat] 공용 타입 작성
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/eslint-config/package.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/items.ts
  packages/types/src/reservations.ts
  packages/types/src/users.ts
  packages/types/tsconfig.json
  packages/ui/.eslintrc.js
  packages/ui/src/components/common/Toast/notify.tsx
  pnpm-lock.yaml
Labels: 📬 API

#43 [Feat] authController 추가
  .gitignore
  apps/api/.eslintrc.js
  apps/api/package.json
  apps/api/src/controllers/userController.ts
  apps/api/src/data/.gitkeep
  apps/api/src/database.ts
  apps/api/src/index.ts
  apps/api/src/middleware/.gitkeep
  apps/api/src/middleware/adminCheckMiddleware.ts
  apps/api/src/middleware/authenticateToken.ts
  apps/api/src/mocks/usersMock.ts
  apps/api/src/models/.gitkeep
  apps/api/src/models/User.ts
  apps/api/src/routes/.gitkeep
  apps/api/src/routes/index.ts
  apps/api/src/routes/userRoutes.ts
  apps/api/src/server.ts
  apps/api/tsconfig.json
  apps/storybook/package.json
  apps/storybook/vite.config.ts
  apps/web/.eslintrc.js
  apps/web/app/page.tsx
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/tsconfig.json
  packages/eslint-config/package.json
  packages/eslint-config/server.js
  packages/types/src/users.ts
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/components/common/Input/index.tsx
  pnpm-lock.yaml
  turbo.json
Labels: ✨ Feature, 📬 API, 👽 BE

#57 [Feat] header layout 제작
  apps/web/app/meetings/layout.tsx
  apps/web/app/meetings/page.tsx
  apps/web/app/seats/layout.tsx
  apps/web/app/seats/page.tsx
  apps/web/app/store/useDateStore.ts
  apps/web/components/GlobalNavigationBar/GnbMenu.tsx
  apps/web/components/Header/HeaderTabs.tsx
  apps/web/components/Header/index.tsx
  apps/web/package.json
  packages/ui/src/utils/constants/dayNames.ts
  packages/ui/src/utils/date.ts
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#49 [Feat] 공통컴포넌트 Modal 제작
  apps/web/.eslintrc.js
  packages/eslint-config/react-internal.js
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/src/components/common/Dropdown/MulitiSelectDropdown.tsx
  packages/ui/src/components/common/Modal/Close.tsx
  packages/ui/src/components/common/Modal/Content.tsx
  packages/ui/src/components/common/Modal/Description.tsx
  packages/ui/src/components/common/Modal/Root.tsx
  packages/ui/src/components/common/Modal/Title.tsx
  packages/ui/src/components/common/Modal/Trigger.tsx
  packages/ui/src/components/common/Modal/index.tsx
  packages/ui/src/components/common/Toast/index.tsx
  packages/ui/src/hooks/useEscapeKey.ts
  packages/ui/src/types/ModalType.ts
  packages/ui/src/utils/date.ts
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#63 [Deploy] CodeDeploy script 작성
  appspec.yml
  script/install_dependencies.sh
  script/start_server.sh
  script/stop_server.sh
  script/validate_service.sh
Labels: 🌏 Deploy, 👽 BE

#51 [Feat] 공통컴포넌트 Label 제작
  packages/tailwind-config/tailwind.config.ts
  packages/ui/index.tsx
  packages/ui/src/components/common/Badge/index.stories.tsx
  packages/ui/src/components/common/Badge/index.tsx
  packages/ui/src/components/common/Button/index.stories.tsx
Labels: ✨ Feature, 🖥 Web, 👾 FE

#60 [Refactor]dropdown/header 리팩토링
  apps/web/app/meetings/layout.tsx
  apps/web/app/store/useDateStore.ts
  apps/web/components/Gnb/GnbMenu.tsx
  apps/web/components/Header/HeaderTabs.tsx
  packages/ui/src/components/common/Dropdown/MulitiSelectDropdown.tsx
  packages/ui/src/components/common/Dropdown/index.tsx
  packages/ui/src/hooks/useEscapeKey.ts
  packages/ui/src/hooks/useOnClickOutside.ts
  packages/ui/src/utils/constants/dayNames.ts
  packages/ui/src/utils/date.ts
  packages/ui/src/utils/handleKeyPress.ts
Labels: 🔨 Refactor, 🖥 Web, 👾 FE

#52 [Feat] 공통컴포넌트 RadioButton 제작
  apps/web/app/page.tsx
  packages/ui/index.tsx
  packages/ui/src/components/common/RadioButton/RadioGroup.tsx
  packages/ui/src/components/common/RadioButton/RadioOption.tsx
  packages/ui/src/components/common/RadioButton/index.stories.tsx
  packages/ui/src/components/common/RadioButton/index.tsx
  packages/ui/src/types/RadioButtonTypes.ts
Labels: ✨ Feature, 🖥 Web, 👾 FE

#55 [Feat] 공통컴포넌트 Sidebar 제작
  apps/web/components/common/BottomSheet/index.tsx
  apps/web/components/common/Sidebar/Layout.tsx
  apps/web/components/common/Sidebar/index.tsx
  apps/web/package.json
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#66 [Feat] 관리자 팀관리 페이지
  apps/web/app/admin/teams/_components/TeamList.tsx
  apps/web/app/admin/teams/_components/TeamListHeader.tsx
  apps/web/app/admin/teams/_components/TeamListItem.tsx
  apps/web/app/admin/teams/_components/TeamListSkeleton.tsx
  apps/web/app/admin/teams/page.tsx
  apps/web/components/Gnb/GnbMenu.tsx
  apps/web/components/common/BottomSheet/index.tsx
  apps/web/components/common/Profile/index.tsx
  packages/ui/public/index.tsx
  packages/ui/public/svgs/ic_plus.svg
  packages/ui/public/svgs/ic_team.svg
  packages/ui/src/components/common/Dropdown/Example/DropdownExample.tsx
  packages/ui/src/components/common/Dropdown/index.tsx
  packages/ui/src/hooks/useOnClickOutside.ts
  packages/ui/src/utils/handleKeyPress.ts
  packages/ui/styles/globals.css
Labels: ✨ Feature, 🖥 Web, 👾 FE

#68 [Refactor] Code Deploy 스크립트 수정
  appspec.yml
  script/install_dependencies.sh
  script/start_server.sh
  script/validate_service.sh
Labels: 🌏 Deploy, 🔨 Refactor, 👽 BE

#70 [Feat] 대시보드 페이지 ui 구현
  apps/web/app/dashboard/_components/DashboardSection.tsx
  apps/web/app/dashboard/_components/EmptyState.tsx
  apps/web/app/dashboard/page.tsx
  apps/web/app/meetings/page.tsx
  apps/web/components/Gnb/GnbMenu.tsx
  packages/ui/public/svgs/ic_textBalloon.svg
Labels: ✨ Feature, 🖥 Web, 👾 FE

#72 [Feat] admin 페이지 스켈레톤 제작
  apps/web/app/admin/teams/_components/TeamListItem.tsx
  apps/web/app/dashboard/_components/DashboardSection.tsx
  apps/web/components/Gnb/GnbMenu.tsx
  apps/web/components/common/Profile/index.tsx
  apps/web/components/common/Skeleton/ListItemSkeleton.tsx
  apps/web/components/common/Skeleton/LoadingBar.tsx
  packages/ui/public/index.tsx
  packages/ui/public/svgs/ic_check-bold.svg
  packages/ui/public/svgs/ic_double-chevron.svg
  packages/ui/public/svgs/ic_modal_alert.svg
  packages/ui/public/svgs/ic_person-empty.svg
  packages/ui/public/svgs/ic_profile-default.svg
  packages/ui/public/svgs/ic_text-balloon.svg
  packages/ui/src/components/common/Dropdown/Example/Profile.tsx
  packages/ui/src/components/common/ListItem/index.tsx
  packages/ui/src/utils/constants/pageNames.ts
Labels: ✨ Feature, 🖥 Web, 👾 FE

#75 [Feat] 회의실 엔드포인트 구현
  .gitignore
  apps/api/.eslintrc.js
  apps/api/package.json
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/controllers/roomControllers.ts
  apps/api/src/middleware/authenticateToken.ts
  apps/api/src/models/categoryModel.ts
  apps/api/src/models/index.ts
  apps/api/src/models/itemModel.ts
  apps/api/src/models/reservationModel.ts
  apps/api/src/models/userModel.ts
  apps/api/src/routes/index.ts
  apps/api/src/routes/itemRoutes.ts
  apps/api/src/routes/reservationRoutes.ts
  apps/api/src/utils/getStartAndEndOfDay.ts
  apps/api/src/utils/isMinuteValid.ts
  apps/api/src/utils/isValidDateFormat.ts
  package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/types/src/categoryType.ts
  packages/types/src/itemType.ts
  packages/types/src/reservationType.ts
  packages/types/src/userType.ts
  packages/ui/src/components/common/RadioButton/index.stories.tsx
  pnpm-lock.yaml
  turbo.json
Labels: ✨ Feature, 📬 API, 👽 BE

#76 [Fix] 헤더 요구사항에 맞게 날짜 보여주는 함수 수정
  apps/web/app/store/useDateStore.ts
  apps/web/components/Header/HeaderTabs.tsx
  apps/web/components/Header/index.tsx
  packages/ui/src/utils/date.ts
Labels: ✨ Feature, 🖥 Web, 👾 FE

#78 [Feat] 멤버 관리 페이지 UI 구현
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/members/_components/CategoryTab.tsx
  apps/web/app/admin/members/_components/ComponentWithUseClient.tsx
  apps/web/app/admin/members/_components/ComponentWithUseClient.types.ts
  apps/web/app/admin/members/_components/Header.tsx
  apps/web/app/admin/members/_components/MemberListItem.tsx
  apps/web/app/admin/members/_components/Navigation.tsx
  apps/web/app/admin/members/_components/SidePanel.tsx
  apps/web/app/admin/members/_components/SortDropdown.tsx
  apps/web/app/admin/members/mockData/index.ts
  apps/web/app/admin/members/page.tsx
  apps/web/app/admin/teams/page.tsx
  apps/web/next.config.mjs
  packages/tailwind-config/tailwind.config.ts
  packages/ui/public/images/image_default_profile.png
  packages/ui/public/images/image_profile.png
  packages/ui/public/images/보경.png
  packages/ui/public/images/승헌.png
  packages/ui/public/images/영준.png
  packages/ui/public/images/현지.png
  packages/ui/public/images/혜린.png
  packages/ui/src/components/common/Badge/index.tsx
  packages/ui/src/components/common/Dropdown/index.tsx
  packages/ui/src/components/common/RadioButton/RadioGroup.tsx
  packages/ui/src/types/RadioButtonTypes.ts
  packages/ui/src/utils/constants/image.ts
  packages/ui/src/utils/constants/memberRoles.ts
  packages/ui/src/utils/constants/notificationMessage.ts
  packages/ui/src/utils/constants/sortOptions.ts
Labels: 🎨 Html&css, 🖥 Web, 👾 FE

#81 [Refactor] items, reservations 엔드포인트 구현
  .husky/pre-commit
  apps/api/src/controllers/itemControllers.ts
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/controllers/roomControllers.ts
  apps/api/src/models/itemModel.ts
  apps/api/src/models/reservationModel.ts
  apps/api/src/routes/index.ts
  apps/api/src/routes/itemRoutes.ts
  apps/web/app/layout.tsx
  apps/web/components/Header/index.tsx
  package.json
  packages/types/src/itemType.ts
  packages/types/src/reservationType.ts
  pnpm-lock.yaml
Labels: 🔨 Refactor, 📬 API, 👽 BE

#80 [Feat] 좌석예약페이지 UI 제작
  apps/web/app/(seats)/_components/AdminSeatSetting.tsx
  apps/web/app/(seats)/_components/SeatBlock.tsx
  apps/web/app/(seats)/_components/SeatButton.tsx
  apps/web/app/(seats)/_components/SeatGrid.tsx
  apps/web/app/(seats)/admin/seats/layout.tsx
  apps/web/app/(seats)/admin/seats/page.tsx
  apps/web/app/(seats)/context/SeatContext.tsx
  apps/web/app/(seats)/mock/ItemMock.ts
  apps/web/app/(seats)/seats/layout.tsx
  apps/web/app/(seats)/seats/page.tsx
  apps/web/app/dashboard/_components/DashboardSection.tsx
  apps/web/app/layout.tsx
  apps/web/app/seats/page.tsx
  apps/web/app/store/useIsMobileStore.ts
  apps/web/components/Gnb/GnbMenu.tsx
  apps/web/components/Header/HeaderTabs.tsx
  apps/web/components/Header/index.tsx
  apps/web/components/MobileSizeWatcher/index.tsx
  apps/web/components/common/Profile/index.tsx
  apps/web/components/common/Sidebar/Layout.tsx
  apps/web/components/common/Sidebar/index.tsx
  packages/eslint-config/react-internal.js
  packages/ui/public/svgs/ic_cancel.svg
  packages/ui/public/svgs/ic_right.svg
  packages/ui/src/components/common/ConditionalActionModal/AlertModal.tsx
  packages/ui/src/components/common/ConditionalActionModal/BaseModal.tsx
  packages/ui/src/components/common/Dropdown/MulitiSelectDropdown.tsx
  packages/ui/src/components/common/Dropdown/index.tsx
  packages/ui/src/components/common/Input/index.tsx
  packages/ui/src/components/common/Modal/Root.tsx
  packages/ui/src/components/common/RadioButton/RadioGroup.tsx
  packages/ui/src/components/common/RadioButton/RadioOption.tsx
  packages/ui/src/hooks/useSeatStatus.ts
  packages/ui/src/types/RadioButtonTypes.ts
  packages/ui/src/utils/constants/seats.ts
  packages/ui/styles/globals.css
Labels: ✨ Feature, 🖥 Web, 👾 FE

#93 [Fix] input 값이 있을 때를 알아차리지 못해서 플레이스 홀더가 제자리에 위치해있지 않는 문제 해결
  apps/web/app/(seats)/_components/SeatButton.tsx
  apps/web/app/layout.tsx
  apps/web/components/Header/index.tsx
  apps/web/package.json
  packages/ui/src/components/common/Input/index.tsx
  pnpm-lock.yaml
Labels: 🐞 BugFix, 🖥 Web, 👾 FE

#94 [Fix] headerTab index 바뀌는 것 수정
  apps/web/app/store/useDateStore.ts
  apps/web/components/Header/HeaderTabs.tsx
  apps/web/components/Header/index.tsx
  packages/ui/src/utils/date.ts
Labels: 🐞 BugFix, 🖥 Web, 👾 FE

#91 [Refactor] authRoute & userRoute 구현 및 인증 인가 미들웨어 추가
  apps/api/package.json
  apps/api/src/controllers/authController.ts
  apps/api/src/controllers/userController.ts
  apps/api/src/middleware/adminCheckMiddleware.ts
  apps/api/src/middleware/authenticateToken.ts
  apps/api/src/models/userModel.ts
  apps/api/src/routes/authRoutes.ts
  apps/api/src/routes/index.ts
  apps/api/src/routes/userRoutes.ts
  apps/api/src/server.ts
  apps/api/src/utils/createSecretToken.ts
  apps/api/src/utils/database.ts
  apps/storybook/package.json
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/public/file-text.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  appspec.yml
  deploy.sh
  packages/constants/index.ts
  packages/constants/package.json
  packages/constants/tsconfig.json
  packages/eslint-config/next.js
  packages/eslint-config/server.js
  packages/types/index.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/ui/.eslintrc.js
  packages/ui/jest.config.mjs
  packages/ui/package.json
  packages/ui/postcss.config.js
  pnpm-lock.yaml
  script/install_dependencies.sh
  script/start_server.sh
  script/stop_server.sh
  turbo.json
Labels: 🔨 Refactor, 📬 API, 👽 BE

#95 [Feat] 멤버 관리 페이지 멤버 목록 조회(GET) 구현
  apps/web/app/admin/members/_components/ComponentWithUseClient.tsx
  apps/web/app/admin/members/_components/ComponentWithUseClient.types.ts
  apps/web/app/admin/members/_components/MemberListItem.tsx
  apps/web/app/admin/members/_components/SidePanel.tsx
  apps/web/app/admin/members/types/index.ts
  apps/web/app/api/members.ts
  apps/web/app/lib/axios.ts
  apps/web/package.json
  packages/types/src/userType.ts
  packages/ui/src/components/common/RadioButton/RadioOption.tsx
  pnpm-lock.yaml
Labels: ✨ Feature, 📬 API, 👾 FE

#97 [Refactor] item, reservation 컨트롤러 최적화
  apps/api/src/controllers/itemControllers.ts
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/models/categoryModel.ts
  apps/api/src/models/itemModel.ts
  apps/api/src/models/reservationModel.ts
  apps/api/src/routes/itemRoutes.ts
  apps/api/src/utils/isOverlappedReservation.ts
Labels: 🔨 Refactor, 📬 API, 👽 BE

#99 [Feat] 회의실 관리자 페이지 UI
  apps/web/app/admin/(items)/_components/AddCategoryButton.tsx
  apps/web/app/admin/(items)/_components/CategoryList.tsx
  apps/web/app/admin/(items)/_components/CategoryListItem.tsx
  apps/web/app/admin/(items)/meetings/page.tsx
Labels: 🎨 Html&css, ✨ Feature, 🖥 Web, 👾 FE

#101 [Feat] 카테고리 api 구현
  .gitignore
  apps/api/src/controllers/categoryController.ts
  apps/api/src/controllers/itemControllers.ts
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/models/categoryModel.ts
  apps/api/src/models/itemModel.ts
  apps/api/src/models/reservationModel.ts
  apps/api/src/routes/categoryRoutes.ts
  apps/api/src/routes/index.ts
  apps/api/src/routes/itemRoutes.ts
  apps/api/src/utils/isObjectIdValid.ts
  packages/constants/index.ts
  packages/types/src/categoryType.ts
  packages/types/src/reservationType.ts
  pnpm-lock.yaml
Labels: ✨ Feature, 📬 API, 👽 BE

#109 [Feat] 좌석 컬렉션 user 필드 추가
  apps/api/src/controllers/itemControllers.ts
  apps/api/src/models/itemModel.ts
  packages/types/src/itemType.ts
Labels: ✨ Feature, 📬 API, 👽 BE

#105 [Feat] 회의실 예약 페이지 구현(morkdata)
  apps/api/src/controllers/itemControllers.ts
  apps/web/app/admin/members/_components/SidePanel.tsx
  apps/web/app/constants/timeOptions.ts
  apps/web/app/context/BottomSheetContext.ts
  apps/web/app/meetings/_components/Reservation/DesktopReservationSheet.tsx
  apps/web/app/meetings/_components/Reservation/MobileReservationSheet.tsx
  apps/web/app/meetings/_components/Reservation/ReservationForm.tsx
  apps/web/app/meetings/_components/Schedule/RoomName.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/CurrentTimeIndicator.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/ScheduleItem.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/ScheduleSlot.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/ScheduleTooltip.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/TimeText.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/index.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleTable/ScheduleTableDesktop.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleTable/ScheduleTableMobile.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleTable/index.tsx
  apps/web/app/meetings/_components/main.tsx
  apps/web/app/meetings/page.tsx
  apps/web/app/mocks/mockData.json
  apps/web/app/mocks/mockData.ts
  apps/web/app/store/useSidebarStore.ts
  apps/web/app/types/BottomSheetTypes.ts
  apps/web/app/types/scheduletypes.ts
  apps/web/components/common/Sidebar/index.tsx
  apps/web/package.json
  packages/constants/index.ts
  packages/tailwind-config/tailwind.config.ts
  packages/types/package.json
  packages/types/src/userType.ts
  packages/ui/src/components/common/Button/index.tsx
  packages/ui/styles/globals.css
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#111 [BE-Refactor] 좌석정보 조회 최적화를 위한 populate 추가
  apps/api/src/controllers/itemControllers.ts
Labels: 🔨 Refactor, 📬 API, 👽 BE

#112 [Feat] 멤버 관리 페이지 api 연동
  apps/api/src/controllers/userController.ts
  apps/api/src/models/userModel.ts
  apps/api/src/routes/index.ts
  apps/web/api/members.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/members/_components/ComponentWithUseClient.tsx
  apps/web/app/admin/members/_components/MemberListItem.tsx
  apps/web/app/admin/members/_components/Navigation.tsx
  apps/web/app/admin/members/_components/SidePanel.tsx
  apps/web/app/admin/members/_components/SortDropdown.tsx
  apps/web/app/admin/members/_components/Tab.tsx
  apps/web/app/api/members.ts
  apps/web/app/layout.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/ScheduleSlot.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/index.tsx
  apps/web/app/profile/_components/ComponentWithUseClient.tsx
  apps/web/app/profile/layout.tsx
  apps/web/app/profile/page.tsx
  apps/web/app/providers.tsx
  apps/web/app/store/useSidebarStore.ts
  apps/web/components/Gnb/index.tsx
  apps/web/components/common/Sidebar/index.tsx
  apps/web/components/common/Skeleton/ListItemSkeleton.tsx
  apps/web/lib/axios.ts
  packages/ui/src/components/common/ListItem/index.tsx
  packages/ui/src/utils/constants/pageNames.ts
  packages/ui/src/utils/constants/sortOptions.ts
Labels: 📬 API, 🖥 Web, 👾 FE

#114 [Feat] 로그인 페이지 및 api 연동
  .github/workflows/deploy-cloudfront.yml
  apps/api/src/controllers/authController.ts
  apps/api/src/controllers/userController.ts
  apps/web/.eslintrc.js
  apps/web/app/api/auth.ts
  apps/web/app/api/members.ts
  apps/web/app/api/users.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/providers.tsx
  apps/web/app/sign-in/_components/SignInForm.tsx
  apps/web/app/sign-in/_hooks/useSignInForm.ts
  apps/web/app/sign-in/_hooks/useSignInMutation.ts
  apps/web/app/sign-in/page.tsx
  apps/web/components/Gnb/GnbLogo.tsx
  apps/web/components/Gnb/hooks/useUser.ts
  apps/web/components/Gnb/index.tsx
  apps/web/package.json
  apps/web/tsconfig.json
  packages/constants/index.ts
  packages/eslint-config/next.js
  packages/types/index.ts
  packages/types/src/responseType.ts
  packages/ui/index.tsx
  packages/ui/public/svgs/ic_logo-codeit.svg
  packages/ui/public/svgs/ic_logo-text.svg
  packages/ui/src/components/common/Input/index.tsx
  packages/ui/src/utils/constants/pageNames.ts
  packages/ui/svgr.d.ts
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#113 [Feat] 대시보드 api 연동
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/models/reservationModel.ts
  apps/api/src/routes/index.ts
  apps/web/api/dashboard.ts
  apps/web/app/(seats)/_components/SeatGrid.tsx
  apps/web/app/admin/members/_components/Navigation.tsx
  apps/web/app/dashboard/_components/DashboardProvider.tsx
  apps/web/app/dashboard/_components/DashboardSection.tsx
  apps/web/app/dashboard/_components/DashboardSectionLoading.tsx
  apps/web/app/dashboard/_components/EmptyState.tsx
  apps/web/app/dashboard/page.tsx
  apps/web/app/settings/page.tsx
  apps/web/components/Gnb/GnbMenu.tsx
  apps/web/components/Header/index.tsx
  apps/web/components/common/Skeleton/ListItemSkeleton.tsx
  apps/web/components/common/Skeleton/LoadingBar.tsx
  packages/ui/public/svgs/ic_gear.svg
  packages/ui/src/utils/constants/pageNames.ts
  packages/ui/src/utils/date.ts
  pnpm-lock.yaml
Labels: ✨ Feature, 🖥 Web, 👾 FE

#122 [Fix] 파일 변경사항 머지
  .github/workflows/deploy-cloudfront.yml
  apps/web/api/seats.ts
  packages/ui/src/hooks/useSeatStatus.ts
  pnpm-lock.yaml
Labels: 🐞 BugFix, 🖥 Web, 👾 FE

#125 [FE-Feat] 회의실 예약 페이지 구현(mockdata) 심화
  apps/web/app/(seats)/mock/ItemMock.ts
  apps/web/app/api/reservation.ts
  apps/web/app/meetings/_components/Reservation/DesktopReservationSheet.tsx
  apps/web/app/meetings/_components/Reservation/MobileReservationSheet.tsx
  apps/web/app/meetings/_components/Reservation/ReservationForm.tsx
  apps/web/app/meetings/_components/Reservation/ReservationModal.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/CurrentTimeIndicator.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/ScheduleItem.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/ScheduleSlot.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleRow/index.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleTable/ScheduleTableDesktop.tsx
  apps/web/app/meetings/_components/Schedule/ScheduleTable/ScheduleTableMobile.tsx
  apps/web/app/meetings/layout.tsx
  apps/web/app/mocks/mockData.ts
  apps/web/app/store/useSidebarStore.ts
  apps/web/components/common/Profile/index.tsx
  apps/web/components/common/Sidebar/index.tsx
  packages/ui/src/components/common/ConditionalActionModal/AlertModal.tsx
Labels: ✨ Feature, 🖥 Web, 👾 FE

#126 [Fix] 대시보드 에러
  apps/web/app/(seats)/admin/seats/layout.tsx
  apps/web/app/(seats)/seats/layout.tsx
  apps/web/app/dashboard/_components/DashboardSection.tsx
  apps/web/app/dashboard/_components/DashboardSectionLoading.tsx
  apps/web/app/dashboard/layout.tsx
  packages/ui/src/hooks/useSeatStatus.ts
Labels: ✨ Feature, 🖥 Web, 👾 FE

#124 [Feat] 내 페이지 UI 구현
  apps/web/app/(seats)/_components/SeatGrid.tsx
  apps/web/app/admin/members/_components/SidePanel.tsx
  apps/web/app/profile/_components/ComponentWithUseClient.tsx
  packages/ui/src/components/common/Input/index.tsx
Labels: 🎨 Html&css, 🖥 Web

#117 [BE-Refactor] 좌석 예약 생성 시 날짜 처리 로직 유효성검사 예외처리 추가
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/models/reservationModel.ts
  apps/api/src/utils/getStartAndEndOfDay.ts
  apps/web/components/Gnb/index.tsx
  packages/ui/src/types/ToastOption.ts
Labels: 🔨 Refactor, 📬 API, 👽 BE
