Repository codeit-internship-group-b/codeit-resources, pull requests merged in 2024-11, with the labels that each got.

#131 [Feat] swagger 자동화
  apps/api/package.json
  apps/api/src/controllers/authController.ts
  apps/api/src/controllers/categoryController.ts
  apps/api/src/controllers/itemControllers.ts
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/controllers/userController.ts
  apps/api/src/models/categoryModel.ts
  apps/api/src/models/itemModel.ts
  apps/api/src/models/reservationModel.ts
  apps/api/src/models/userModel.ts
  apps/api/src/server.ts
  apps/api/src/swagger/swagger.ts
  apps/api/tsconfig.json
  apps/web/app/(seats)/_components/SeatGrid.tsx
  packages/eslint-config/next.js
  packages/eslint-config/react-internal.js
  packages/eslint-config/server.js
  pnpm-lock.yaml
Labels: 📃 Docs, 📬 API, 👽 BE

#132 [Feat] user정보 zustand store 구현 및 gnb에 적용
  apps/api/src/controllers/userController.ts
  apps/api/src/routes/userRoutes.ts
  apps/web/app/_components/AuthGuard.tsx
  apps/web/app/_components/SignInForm.tsx
  apps/web/app/_hooks/useAuthState.ts
  apps/web/app/_hooks/useSignInForm.ts
  apps/web/app/_hooks/useSignInMutation.ts
  apps/web/app/_utils/getLocalStorage.ts
  apps/web/app/api/users.ts
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/sign-in/page.tsx
  apps/web/app/store/useAuthStore.ts
  apps/web/components/Gnb/hooks/useUser.ts
  apps/web/components/Gnb/index.tsx
  apps/web/components/common/Profile/index.tsx
  apps/web/lib/axios.ts
  apps/web/next.config.mjs
  packages/constants/index.ts
  packages/types/index.ts
  packages/types/src/storeType.ts
  packages/ui/public/index.tsx
  packages/ui/public/svgs/ic_spinner.svg
  packages/ui/src/components/common/Button/index.tsx
  packages/ui/src/utils/constants/pageNames.ts
Labels: ✨ Feature, 🖥 Web, 👾 FE

#134 [Refactor] input 컴포넌트 리팩토링
  apps/web/app/admin/members/_components/SidePanel.tsx
  packages/ui/src/components/common/ErrorMessage/index.tsx
  packages/ui/src/components/common/Input/index.tsx
Labels: 🔨 Refactor, 🖥 Web, 👾 FE

#137 [Setting] Expo => native 웹뷰 개발 환경 세팅
  .npmrc
  apps/mobile/.eslintrc.js
  apps/mobile/.gitignore
  apps/mobile/README.md
  apps/mobile/app.json
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/explore.tsx
  apps/mobile/app/(tabs)/index.tsx
  apps/mobile/app/+html.tsx
  apps/mobile/app/+not-found.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/assets/fonts/SpaceMono-Regular.ttf
  apps/mobile/assets/images/adaptive-icon.png
  apps/mobile/assets/images/favicon.png
  apps/mobile/assets/images/icon.png
  apps/mobile/assets/images/partial-react-logo.png
  apps/mobile/assets/images/react-logo.png
  apps/mobile/assets/images/react-logo@2x.png
  apps/mobile/assets/images/react-logo@3x.png
  apps/mobile/assets/images/splash.png
  apps/mobile/babel.config.js
  apps/mobile/components/Collapsible.tsx
  apps/mobile/components/ExternalLink.tsx
  apps/mobile/components/HelloWave.tsx
  apps/mobile/components/ParallaxScrollView.tsx
  apps/mobile/components/ThemedText.tsx
  apps/mobile/components/ThemedView.tsx
  apps/mobile/components/__tests__/ThemedText-test.tsx
  apps/mobile/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  apps/mobile/components/navigation/TabBarIcon.tsx
  apps/mobile/constants/Colors.ts
  apps/mobile/global.css
  apps/mobile/hooks/useColorScheme.ts
  apps/mobile/hooks/useColorScheme.web.ts
  apps/mobile/hooks/useThemeColor.ts
  apps/mobile/metro.config.js
  apps/mobile/nativewind-env.d.ts
  apps/mobile/package.json
  apps/mobile/scripts/reset-project.js
  apps/mobile/tailwind.config.js
  apps/mobile/tsconfig.json
  apps/storybook/README.md
  apps/storybook/package.json
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/react-native.js
  packages/ui/package.json
  pnpm-lock.yaml
Labels: ⚙ Setting, 📱 Mobile

#140 [Fix] axios requester 수정
  apps/mobile/tsconfig.json
  apps/web/api/dashboard.ts
  apps/web/api/members.ts
  apps/web/lib/axios.ts
  packages/ui/src/components/common/Input/index.tsx
  pnpm-lock.yaml
Labels: 🐞 BugFix, 🖥 Web, 👾 FE

#144 [Fix] 예약 조회 시 시간 범위 계산 로직, 유틸함수 수정
  apps/api/src/controllers/reservationControllers.ts
  apps/api/src/utils/getStartAndEndOfDay.ts
Labels: 🐞 BugFix, 📬 API, 👽 BE

#142 [Refactor] 멤버 관리 페이지 리팩토링
  apps/api/package.json
  apps/api/src/controllers/userController.ts
  apps/api/src/models/userModel.ts
  apps/api/src/routes/userRoutes.ts
  apps/api/src/utils/areArraysEqual.ts
  apps/web/api/members.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/members/_components/ComponentWithUseClient.tsx
  apps/web/app/admin/members/_components/EmptyState.tsx
  apps/web/app/admin/members/_components/Header.tsx
  apps/web/app/admin/members/_components/MemberList.tsx
  apps/web/app/admin/members/_components/MemberListItem.tsx
  apps/web/app/admin/members/_components/MembersContent.tsx
  apps/web/app/admin/members/_components/Navbar.tsx
  apps/web/app/admin/members/_components/Navigation.tsx
  apps/web/app/admin/members/_components/SidePanel.tsx
  apps/web/app/admin/members/_components/SortDropdown.tsx
  apps/web/app/admin/members/_components/Tab.tsx
  apps/web/app/admin/members/_components/TabItem.tsx
  apps/web/app/admin/members/_components/sidepanel/Form.tsx
  apps/web/app/admin/members/_components/sidepanel/Header.tsx
  apps/web/app/admin/members/_components/sidepanel/ProfileImageUploader.tsx
  apps/web/app/admin/members/_components/sidepanel/index.tsx
  apps/web/app/admin/members/_components/skeleton/MemberListSkeleton.tsx
  apps/web/app/admin/members/_components/skeleton/TabSkeleton.tsx
  apps/web/app/admin/members/_components/skeleton/index.tsx
  apps/web/app/admin/members/_hooks/useMembersMutations.ts
  apps/web/app/admin/members/_hooks/useMembersSuspenseQuery.ts
  apps/web/app/admin/members/mockData/index.ts
  apps/web/app/admin/members/page.tsx
  apps/web/app/admin/members/types/index.ts
  apps/web/app/providers.tsx
  apps/web/app/settings/page.tsx
  apps/web/components/common/ErrorResetBoundary/index.tsx
  apps/web/components/common/Fallback/index.tsx
  apps/web/lib/axios.ts
  apps/web/package.json
  packages/constants/index.ts
  packages/constants/messages.ts
  packages/constants/package.json
  packages/constants/regexp.ts
  packages/constants/teams.ts
  packages/types/src/membersType.ts
  packages/ui/src/components/common/Dropdown/MulitiSelectDropdown.tsx
  packages/ui/src/utils/constants/image.ts
  packages/ui/src/utils/constants/memberRoles.ts
  packages/ui/src/utils/constants/notificationMessage.ts
  pnpm-lock.yaml
Labels: 🔨 Refactor, 🎨 Html&css, 👽 BE, 👾 FE

#149 [Feat] 좌석예약 api 연동
  apps/web/api/dashboard.ts
  apps/web/api/items.ts
  apps/web/api/reservation.ts
  apps/web/api/seats.ts
  apps/web/app/(seats)/_components/AdminSeatSetting.tsx
  apps/web/app/(seats)/_components/SeatBlock.tsx
  apps/web/app/(seats)/_components/SeatButton.tsx
  apps/web/app/(seats)/_components/SeatGrid.tsx
  apps/web/app/(seats)/context/SeatContext.tsx
  apps/web/app/(seats)/mock/ItemMock.ts
  apps/web/app/dashboard/_components/DashboardProvider.tsx
  apps/web/app/dashboard/_components/DashboardSection.tsx
  apps/web/app/dashboard/_components/DashboardSectionLoading.tsx
  apps/web/app/meetings/_components/Reservation/ReservationForm.tsx
  apps/web/components/common/Profile/index.tsx
  apps/web/src/contexts/SeatContext.tsx
  apps/web/src/utils/seats.ts
  packages/types/index.ts
  packages/types/src/reservationType.ts
  packages/types/src/responseType.ts
  packages/types/src/seatsType.ts
  packages/ui/src/hooks/useSeatStatus.ts
Labels: ✨ Feature, 🖥 Web, 👾 FE

#155 [Feat] 멤버 관리 페이지 검색 기능 구현
  apps/api/src/controllers/userController.ts
  apps/api/src/types/index.ts
  apps/api/src/utils/buildFilters.ts
  apps/api/src/utils/fetchUsers.ts
  apps/api/src/utils/formatPaginatedResponse.ts
  apps/api/src/utils/getSortCriteria.ts
  apps/web/api/members.ts
  apps/web/app/(seats)/_components/SeatBlock.tsx
  apps/web/app/(seats)/_components/SeatButton.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/members/_components/EmptyState.tsx
  apps/web/app/admin/members/_components/Header.tsx
  apps/web/app/admin/members/_components/MemberList.tsx
  apps/web/app/admin/members/_components/MembersContent.tsx
  apps/web/app/admin/members/_components/SearchForm.tsx
  apps/web/app/admin/members/_components/skeleton/index.tsx
  apps/web/app/admin/members/_hooks/useMembersSuspenseInfiniteQuery.ts
  apps/web/lib/queryKey.ts
  packages/constants/messages.ts
  packages/ui/public/svgs/ic_search.svg
  packages/ui/src/components/common/EmptyState/index.tsx
  packages/ui/src/hooks/useIntersectionObserver.ts
  packages/ui/src/utils/getEmptyMessage.ts
Labels: ✨ Feature, 👾 FE

#157 [Feat] useDragAndDrop 커스텀로직 작성 및 teams페이지 드래그앤 드롭 추가
  apps/api/src/controllers/teamController.ts
  apps/api/src/models/teamModel.ts
  apps/api/src/routes/teamRoutes.ts
  apps/api/src/utils/multerConfig.ts
  apps/web/api/teams.ts
  apps/web/app/admin/_hooks/useDragAndDrop.ts
  apps/web/app/admin/teams/_components/CreateTeamSidebar.tsx
  apps/web/app/admin/teams/_components/ManageTeamModal.tsx
  apps/web/app/admin/teams/_components/TeamList.tsx
  apps/web/app/admin/teams/_components/TeamListHeader.tsx
  apps/web/app/admin/teams/_components/TeamListItem.tsx
  apps/web/app/admin/teams/_hooks/useDebounceCallback.ts
  apps/web/app/admin/teams/_hooks/useTeamsMutations.ts
  apps/web/app/dashboard/layout.tsx
  apps/web/app/dashboard/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/meetings/layout.tsx
  apps/web/app/meetings/page.tsx
  apps/web/app/providers.tsx
  apps/web/lib/queryClient.ts
  packages/constants/index.ts
  packages/constants/messages.ts
  packages/types/src/teamType.ts
  packages/ui/package.json
  packages/ui/src/components/common/ListItem/index.tsx
  pnpm-lock.yaml
Labels: ✨ Feature, 📬 API, 🖥 Web, 👾 FE
