Repository codeit-internship-group-b/codeit-resources, pull requests merged in 2024-12, with the labels that each got.

#145 [Feat] zustand를 사용한 Toast 제작
  apps/web/app/(seats)/_components/AdminSeatSetting.tsx
  apps/web/app/(seats)/_components/SeatButton.tsx
  apps/web/app/_hooks/useSignInMutation.ts
  apps/web/app/admin/members/_hooks/useMembersMutations.ts
  apps/web/app/admin/teams/_hooks/useTeamsMutations.ts
  apps/web/app/dashboard/_components/DashboardSection.tsx
  apps/web/app/meetings/_components/Reservation/ReservationModal.tsx
  apps/web/app/providers.tsx
  apps/web/app/store/useToastStore.ts
  apps/web/components/common/Toast/index.tsx
  packages/tailwind-config/tailwind.config.ts
  packages/ui/index.tsx
  packages/ui/src/components/common/Toast/index.tsx
  packages/ui/src/components/common/Toast/notify.tsx
  packages/ui/src/types/ToastOption.ts
  packages/ui/styles/Toast.tsx
Labels: ✨ Feature, 🖥 Web, 👾 FE

#161 [Feact] 멤버 관리 페이지 검색 기록 기능 구현
  apps/api/src/routes/itemRoutes.ts
  apps/web/api/items.ts
  apps/web/api/members.ts
  apps/web/app/(seats)/_components/SeatButton.tsx
  apps/web/app/admin/(items)/meetings/page.tsx
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/members/_components/Header.tsx
  apps/web/app/admin/members/_components/MemberList.tsx
  apps/web/app/admin/members/_components/MemberListItem.tsx
  apps/web/app/admin/members/_components/MembersContent.tsx
  apps/web/app/admin/members/_components/Navbar.tsx
  apps/web/app/admin/members/_components/SearchForm.tsx
  apps/web/app/admin/members/_components/search/SearchHistoryList.tsx
  apps/web/app/admin/members/_components/search/SearchInput.tsx
  apps/web/app/admin/members/_components/search/index.tsx
  apps/web/app/admin/members/_components/sidepanel/Form.tsx
  apps/web/app/admin/members/_components/sidepanel/index.tsx
  apps/web/app/admin/members/_components/skeleton/index.tsx
  apps/web/app/admin/members/_hooks/useKeywordsForm.ts
  apps/web/app/admin/members/_hooks/useMembersForm.ts
  apps/web/app/admin/teams/_components/TeamListHeader.tsx
  apps/web/app/admin/teams/_hooks/useDebounceCallback.ts
  apps/web/app/admin/teams/_hooks/useTeamsMutations.ts
  apps/web/lib/axios.ts
  packages/constants/messages.ts
  packages/tailwind-config/tailwind.config.ts
  packages/types/src/searchFormType.ts
  packages/ui/public/svgs/ic_cancel.svg
  packages/ui/public/svgs/ic_plus.svg
  packages/ui/src/utils/getEmptyMessage.ts
  packages/ui/src/utils/storage.ts
Labels: ✨ Feature, 👾 FE

#166 [Feat] 모바일 관리자 페이지 구현
  apps/api/src/controllers/userController.ts
  apps/api/src/routes/userRoutes.ts
  apps/web/api/teams.ts
  apps/web/api/users.ts
  apps/web/app/_hooks/useSignInMutation.ts
  apps/web/app/admin/members/_components/sidepanel/ProfileImageUploader.tsx
  apps/web/app/admin/teams/_hooks/useTeamsMutations.ts
  apps/web/app/profile/_components/ComponentWithUseClient.tsx
  apps/web/app/profile/layout.tsx
  apps/web/app/profile/page.tsx
  apps/web/app/settings/_components/ChangePasswordForm.tsx
  apps/web/app/settings/_components/ProfileInfo.tsx
  apps/web/app/settings/_components/ProfileInfoSkeleton.tsx
  apps/web/app/settings/_components/ProfileTeams.tsx
  apps/web/app/settings/_components/ResponsiveSettingsPage.tsx
  apps/web/app/settings/_components/SettingButtons.tsx
  apps/web/app/settings/_components/modals/ChangePasswordModal.tsx
  apps/web/app/settings/_components/modals/SettingsModals.tsx
  apps/web/app/settings/_hooks/useChangePasswordForm.ts
  apps/web/app/settings/_hooks/useProfileImage.ts
  apps/web/app/settings/_hooks/useUserMutations.ts
  apps/web/app/settings/_hooks/useUserQueries.ts
  apps/web/app/settings/layout.tsx
  apps/web/app/settings/page.tsx
  apps/web/components/Gnb/hooks/useUser.ts
  apps/web/components/Gnb/index.tsx
  apps/web/next.config.mjs
  apps/web/src/stores/useAuthStore.ts
  packages/constants/index.ts
  packages/constants/messages.ts
  packages/types/index.ts
  packages/types/src/membersType.ts
  packages/types/src/responseType.ts
  packages/types/src/storeType.ts
  packages/types/src/userType.ts
  packages/ui/public/images/image_profile.png
  packages/ui/public/images/보경.png
  packages/ui/public/images/승헌.png
  packages/ui/public/images/영준.png
  packages/ui/public/images/현지.png
  packages/ui/public/images/혜린.png
  packages/ui/src/utils/constants/pageNames.ts
Labels: 📬 API, 🖥 Web, 👾 FE

#164 [Refactor] 좌석예약좌석설정 페이지 리팩토링
  apps/web/api/items.ts
  apps/web/api/reservation.ts
  apps/web/app/(seats)/_components/AdminSeatSetting.tsx
  apps/web/app/(seats)/_components/SeatButton.tsx
  apps/web/app/(seats)/_components/SeatCancelIcon.tsx
  apps/web/app/_hooks/useSeatReservation.ts
  apps/web/app/dashboard/_components/DashboardProvider.tsx
  apps/web/app/dashboard/_components/DashboardSectionLoading.tsx
  apps/web/next.config.mjs
  apps/web/src/contexts/SeatContext.tsx
  apps/web/src/utils/seats.ts
  packages/types/src/reservationType.ts
  packages/types/src/seatsType.ts
  packages/ui/src/components/common/Dropdown/index.tsx
Labels: 🔨 Refactor, 👾 FE

#169 [Feat] 모바일 관리자 페이지 모달 연동 (비밀번호변경, 멤버관리, 팀관리)
  apps/api/src/controllers/userController.ts
  apps/web/api/auth.ts
  apps/web/api/teams.ts
  apps/web/app/_hooks/useSignInMutation.ts
  apps/web/app/admin/layout.tsx
  apps/web/app/admin/members/_components/Header.tsx
  apps/web/app/admin/members/_components/MemberList.tsx
  apps/web/app/admin/members/_components/MemberListItem.tsx
  apps/web/app/admin/members/_components/MembersContent.tsx
  apps/web/app/admin/members/_components/Navbar.tsx
  apps/web/app/admin/members/_components/ResponsiveMembersPage.tsx
  apps/web/app/admin/members/_components/sidepanel/ProfileImageUploader.tsx
  apps/web/app/admin/members/_components/skeleton/MemberListSkeleton.tsx
  apps/web/app/admin/members/_components/skeleton/index.tsx
  apps/web/app/admin/members/_hooks/useMembersMutations.ts
  apps/web/app/admin/members/_hooks/useMembersSuspenseInfiniteQuery.ts
  apps/web/app/admin/members/page.tsx
  apps/web/app/admin/teams/_components/ResponsiveTeamsPage.tsx
  apps/web/app/admin/teams/_components/TeamListItem.tsx
  apps/web/app/admin/teams/_hooks/useTeamsMutations.ts
  apps/web/app/admin/teams/_hooks/useTeamsQueries.ts
  apps/web/app/settings/_components/ChangePasswordForm.tsx
  apps/web/app/settings/_components/ProfileInfo.tsx
  apps/web/app/settings/_components/ProfileInfoSkeleton.tsx
  apps/web/app/settings/_components/ResponsiveSettingsPage.tsx
  apps/web/app/settings/_components/SettingButtons.tsx
  apps/web/app/settings/_components/modals/ChangePasswordModal.tsx
  apps/web/app/settings/_components/modals/ManageTeamModal.tsx
  apps/web/app/settings/_components/modals/MembersSettingModal.tsx
  apps/web/app/settings/_components/modals/SettingsModals.tsx
  apps/web/app/settings/_components/modals/TeamSettingModal.tsx
  apps/web/app/settings/_hooks/useChangePasswordForm.ts
  apps/web/app/settings/_hooks/useModal.ts
  apps/web/app/settings/_hooks/useUserMutations.ts
  apps/web/app/settings/_hooks/useUserQueries.ts
  apps/web/app/settings/_hooks/useUserSettingOptions.ts
  apps/web/components/SettingsModal/SettingsModalContent.tsx
  apps/web/components/common/Fallback/index.tsx
  apps/web/lib/queryKey.ts
  apps/web/next.config.mjs
  apps/web/src/hooks/useRediectOnMobile.ts
  apps/web/src/utils/.gitkeep
  apps/web/src/utils/notifyMutationError.ts
  packages/constants/regexp.ts
  packages/types/src/responseType.ts
  packages/ui/src/types/ModalType.ts
Labels: ✨ Feature, 🖥 Web

#172 [Deploy] Backend Server CI/CD 구축
  .github/workflows/deploy-cloudfront.yml
  .github/workflows/deploy-express.yml
  deploy.sh
Labels: 🌏 Deploy, 👽 BE
